*{
	padding: 0;
	margin: 0;
	text-decoration: none;
    font-family: 'Roboto', sans-serif;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(96, 164, 224);
}

.form-box{
    border: white solid 1px;
    border-radius: 25px;
    width: 400px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    text-align: center;
    font-size: 2em;
    color: aliceblue;
}

.input-box{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: white 2px solid;
}

.input-box input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1em;
}

input::placeholder{
    color: aliceblue;
    opacity: .7;
}

.input-box ion-icon{
    position: absolute;
    right: 8px;
    top: 10px;
    font-size: 1.2em;
}

.termes, .allow{
    margin-bottom: 10px;
}

.termes, .allow{
    text-align: center;
    font-size: 1em;
    color: aliceblue;
}

.termes input:hover, .allow input:hover{
    cursor: pointer;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    border: solid 1px grey;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 10px;
}

button:hover{
    border: aliceblue solid 1px;
    background-color: rgb(49, 132, 206);
    color: aliceblue;
}

.account, .main-page{
    text-align: center;
    color: aliceblue;
    font-size: 1em;
}

.account{
    margin-top: 10px;
    border-bottom: solid white 1px;
    padding-bottom: 20px;
}

.account a, .main-page a{
    color: aliceblue;
    font-weight: 600;
}

.account a:hover, .main-page a:hover{
    text-decoration: underline;
}

.main-page{
    padding-top: 20px;
}