*{
    margin : 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(192, 209, 224);
    text-align: center;
}

h1{
    margin : 10px;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    text-shadow: 5px 5px rgba(102, 66, 66, 0.096);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline;
    color: rgb(88, 165, 105);
}

table{
    background-color: blueviolet;
    margin: 0 auto;
    border: solid 1px black;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 5px 10px rgba(128, 128, 128, 0.575);
}

table td{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    border-radius: 5px;
    background-color: grey;
    color: aliceblue;
    text-align: center;
    border: solid 5px black;
    box-shadow: 5px 5px rgba(128, 128, 128, 0.699);
    border-style: inset;
}

.ecran{
    background-color: rgb(88, 151, 151);
    padding: 1rem;
}

.ecran input{
    border-radius: 10px;
}

.operateur{
    padding: 2rem;
    background-color: rgb(201, 201, 22);
}

.chiffre{
    padding: 2rem;
    background-color: rgb(106, 206, 173);
}

#reset{
    background-color: red;
}

#reset:hover{
    background-color: rgb(153, 33, 33);
}

#affichage{
    padding: 1rem;
    font-size: 1.2rem;
}

table td:hover{
    background-color: rgb(96, 161, 140);
    cursor: grab;
    color: black;
    transition: .3s;
}

table td:active{
    transform: translateY(4px);
    color: brown;
}

#reset:active{
    background-color: orange;
}

.operateur:hover{
    background-color: rgb(175, 160, 23);
}

#egal{
    background-color: rgb(143, 230, 14);
}

#egal:hover{
    background-color: rgb(117, 175, 30);
}

